body {
  margin: 0;
  padding: 0;
    font-family: "Times New Roman", Times, serif;
    
}

/* Barre de navigation */
nav {
  display: flex;                 
  justify-content: space-between;
  align-items: center;           
  background-color: #f8f8f8;     
  padding: 20px 60px;            
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  letter-spacing: 1px;
}

/* Logo */
nav .nav-logo img {
  width: 50px;
  height: auto;
}

/* Links */
nav .nav-link {
  display: flex;
  gap: 30px;                    
}

nav .nav-link a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

/* hover */
nav .nav-link a:hover {
  color: #007BFF;
}
/* Hero Section */

.hero-text{
 text-align: center;
  justify-content: center;
 
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: #555;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 10px 25px;
  
}
.hero-text button:hover {
  background-color: #555;
  color: white;
  transform: translateY(-2px);

}
/* skills */
.skills{
    margin: 30px;
    padding: 15px 20px;
}
.skills h2{
text-align: center;
font-size: 30px;
}
.skills ul {
  list-style: none;
  padding: 0;
}
.skills li {
  background-color: #eee;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}
/* prpjects */
.projects {
  padding: 80px 10%;
  background-color: #fff;
  
}

.projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project {
  background-color: #f8f8f8;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.project img {
  width: 100%;
  height: 200px;
  object-fit: cover; 
}


.project-info {
  padding: 20px;
}

.project-info h3 {
  margin: 10px 0;
  color: #007bff;
}

.project-info p {
  color: #555;
  font-size: 0.95rem;
}


.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* footer */
footer {
 position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #f8f8f8;
  text-decoration: none;
  color: #333;
  padding: 30px 20px;

}
footer a {
  text-decoration: none;
  color: #333;
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}